body {
  margin: 0;
  background-color: #dedede;
}

.slider {
  position: absolute;
  left: calc(50% - 450px);
  top: calc(50% - 347px);
  width: 900px;
  height: 694px;
  overflow: hidden;
}

.slider:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow:
    inset 0 -30px 20px -20px #dedede,
    inset 0 30px 20px -20px #dedede;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

.container.big {
  transform: translateY(0%);
  transition: transform .48s ease-out;
}

.container.smol {
  transform: translateY(0%);
  transition: transform .64s ease;
}

.slide {
  position: relative;
  width: 900px;
  height: 694px;
}

img {
  border-radius: 20px;
  box-shadow: 0px 15px 22px rgba(44, 22, 88, 0.3);
}

.img-big {
  position: absolute;
  left: 25px;
  top: 25px;
}

.img-smol {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.controls {
  position: absolute;
  left: calc(50% - 580px);
  top: 0;
  width: 130px;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin: 50px 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color .16s;
  box-shadow: inset -1px -1px 2px #ddd;
}

label:after {
  content: '';
  display: none;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}

label:hover {
  background-color: #bbb;
}

input:nth-child(1):checked ~ .controls label:nth-child(1):after,
input:nth-child(2):checked ~ .controls label:nth-child(2):after,
input:nth-child(3):checked ~ .controls label:nth-child(3):after,
input:nth-child(4):checked ~ .controls label:nth-child(4):after {
  display: block;
}

input:nth-child(1):checked ~ .slider .container {
  transform: translateY(0%);
}

input:nth-child(2):checked ~ .slider .container {
  transform: translateY(-25%);
}

input:nth-child(3):checked ~ .slider .container {
  transform: translateY(-50%);
}

input:nth-child(4):checked ~ .slider .container {
  transform: translateY(-75%);
}
